<!DOCTYPE html>
<html>
<head>
    <title>tux.io admin</title>
    <meta charset="utf-8">
</head>

<body>
<h3>tux.io admin page for "<%=sid%>"</h3>
<p>
    This page will contain controls and features specific to this virtual machine.
</p>
<p>
    Some of the features which it may offer include:
</p>
<ul>
    <li>Uploading files.</li>
    <!--
    <li><a href="/vm/<%=sid%>/download">Downloading files.</a></li>
    -->
    <li>Downloading files.</li>
    <li>Password-protecting this VM.</li>
</ul>
<p>
    Email <a href="mailto:features@tux.io?subject=tux.io admin ideas">features@tux.io</a> if you have ideas about what should be on this page.
</p>
</body>
</html>
