<!DOCTYPE html>
<html>
<head>
    <title>tux.io stats</title>
    <meta charset="utf-8">
</head>

<body>
    <pre>pool: <%= pool %></pre>
    <pre>in_use: <%= in_use %></pre>
    <pre>other: <%= other %></pre>
</body>
</html>
